<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
              src="../assets/images/users/default.png" alt="user" /><span class="hide-menu">Administrador </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/login">Logout</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PANEL DE CONTROL</li>
        <li> <a class="waves-effect waves-dark" routerLink="/home" routerLinkActive="active" aria-expanded="false"><i
              class="mdi mdi-chart-bar"></i><span class="hide-menu">Dashboard</span></a>
        </li>

        <li> <a class="waves-effect waves-dark" routerLink="/proyectos" routerLinkActive="active" aria-expanded="false"><i
              class="mdi mdi-table-edit"></i><span class="hide-menu">Proyectos</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->